@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Close-button {
  @include ButtonDiv;
  width: 60px;
  height: 60px;
  background-color: $colorWhite;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -32px;
  margin-top: -32px;
  cursor: pointer;

  i {
    color: $colorGrey;
    font-size: 25px;
    transition: all 0.2s;
    transform: rotate(0deg);
  }

  &:hover i {
    color: $colorLightBlue;
    transition: all 0.2s;
    transform: rotate(10deg);
  }
}