@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.todo {
  padding-top: 158px;
  min-height: 70vh;
  display: flex;
  justify-content: center;

  .block {
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
  }

  .addTodo {
    @include ButtonDiv;
    width: 70%;
    background-color: $colorWhite;
    height: 60px;
    border-radius: 5px;
    border: 1px solid $colorGrey;
    color: $colorGrey;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 20px;
      font-size: 30px;
    }

    &:hover {
      color: $colorWhite;
      background-color: $colorGrey;
      i {
        color: $colorLightBlue;
      }
    }
  }
}