@import '../../../styles/variables.scss';
.input-container {
  position: relative;
  padding-top: 10px;
}
.input {
  width: Calc(100% - 14px);
  height: 35px;
  outline: none;
  margin-bottom: 7px;
  padding-left: 10px;
}
.error-text {
  color: $colorRed;
  display: block;
  position: absolute;
  top: 0;
  font-size: 13px;
  background-color: $colorWhite;
  padding: 0 3px;
  margin-left: 5px;
  // margin-top: -1px;
  transition: all 0.2s;
}